.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 var(--lateral-space);
    height: 60px;
    max-width: 100vw;
    background-color: var(--color-brown-default);
}

.Logo{
    padding: 0;
}

.Logo .iconify{
    width: 42px;
    height: 42px;
} 

.Menu .Search {
    flex-grow: 1;
    max-width: 500px;
    height: 28px;

    padding: 0 10px;

    border: none;
    border-radius: 3px;
    outline: none;

    background: url('https://api.iconify.design/fa/search.svg') no-repeat center right 7px;
    background-color: #fdefef;
}

.Menu button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: 600;

    transition: 0.5s;

    margin: 5px;
}


.Menu button:hover{
    background-color: #fdefef;
}
